.android/
.azure/
.bashrc
.cache/
.conda/
.config/
.dotnet/
.gradle/
.launchpadlib/
.local/
.net/
.npm/
.nuget/
.profile
.rustup/
.sbt/
.ssh/
.sudo_as_admin_successful
.terraform.d/
.vcpkg/
.wget-hsts
snap/
__pycache__/
*.pyc
*.pyo
*.db
